In [19]:
import pandas as pd

#Import dataset
df = pd.read_csv('titanic.csv')
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [20]:
#Drop extra things
df.drop(['Parents/Children Aboard','Name','Age', 'Pclass', 'Sex','Siblings/Spouses Aboard'],inplace=True,axis=1)
df.head()

   Survived     Fare
0         0   7.2500
1         1  71.2833
2         1   7.9250
3         1  53.1000
4         0   8.0500

In [21]:
#Making x and y axis 
#The X-axis will have Age in it 
#The Y-axis will have survived values in it

X = df.drop(['Survived'], axis=1)
y = df['Survived']
print(X[:5])
print()
print(y[:5])

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [22]:
#breaking our dataset

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [23]:
#printing the details of our dataset after splitting 

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(709, 1)
(178, 1)
(709,)
(178,)

In [24]:
# Training the Logistic Regression model on the Training set

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [26]:
print('Predicted Value')
y_pred = logreg.predict(x_test)
print(y_pred[:10])
print('Actual Value')
print(y_test[:10])

Predicted Value
[0 1 0 0 0 0 0 0 0 0]
Actual Value
14     0
158    0
762    0
740    1
482    0
261    0
618    1
706    1
533    0
548    0
Name: Survived, dtype: int64

/var/folders/kb/2qtwss7n3y3091dclgrcn9hm0000gn/T/ipykernel_24166/1294676278.py:5: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(y_test[:10])

In [28]:
#Finding the accuracy of the model

print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(x_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.68

In [29]:
#drawing a confusion matrix for the same

from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[107  10]
 [ 47  14]]

In [30]:
#Another way of getting the accuracy and f1-score

from sklearn.metrics import accuracy_score,f1_score

acc = accuracy_score(y_pred,y_test)
f1 = f1_score(y_pred,y_test)
print("Accuracy : ",acc,"\nF1 Score : ",f1)

Accuracy :  0.6797752808988764
F1 Score :  0.32941176470588235

In [31]:
from sklearn import metrics

TN, FP, FN, TP = metrics.confusion_matrix(list(y_test), list(y_pred), labels=[0, 1]).ravel() #0,1 is default label of sklearn 
print("True Negatives", TN)
print("True Positives", TP)
print("False Positives", FP)
print("False Negatives", FN)

True Negatives 107
True Positives 14
False Positives 10
False Negatives 47

In [32]:
results={} #To Store all the metrics Result Values

In [33]:
#Finding Accuracy 
metric = "ACCURACY"
results[metric] = (TP + TN) / (TP + TN + FP + FN)
print(f"{metric} is {results[metric]: .3f}") 
#Note the Formatting with f"{metric} and rounding to 3 decimal points with .3f

ACCURACY is  0.680

In [35]:
#Finding MCC Value

metric = "MCC"
num = TP * TN - FP * FN
den = ((TP + FP) * (TP + FN) * (TN + FP) * (TN + FN)) ** 0.5
results[metric] = num / den
print(f"{metric} is {results[metric]: .3f}")

MCC is  0.200

In [39]:
#Precision 
print(f"Precision is : {TP / (TP + FN)}")

#RECALL 
print(f"Recall is : {TP/ (TP + FN)}")

#SENSTIVITY 
print(f"Senstivity is : {TP / (TP + FN)}")

#SPECIFICITY 
print(f"Specificity is : {TN / (TN + FP)}")

Precision is : 0.22950819672131148
Recall is : 0.22950819672131148
Senstivity is : 0.22950819672131148
Specificity is : 0.9145299145299145